<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="container">
    <% for (var i = 0; i < movies.length; i++) { %>
        <!-- <%= JSON.stringify(movies[i]); %> -->
        <div class="col-sm-6 col-md-4" style='height:400px; overflow:auto;'>
            <div class="thumbnail">
                <img src="<%= movies[i].img %>" width="150" height="200" alt="<%= movies[i].movie_id %>" onclick="ft_test(this);"/>
                <h3>title: <%= movies[i].title %></h3>
                <% var rating = (movies[i].rating) ? movies[i].rating : 0 %>
                <p>rating: <%= rating %></p>
                <p>year <%= movies[i].year %></p>
            </div>
        </div>
    <% } %>
    </div>
</body>
<script>
function ft_test(obj)
{
    // alert(obj.alt);
    window.location.href = 'http://localhost:3000/play?id=' + obj.alt;
}
</script>
</html>